body {
    flex-direction: column;
    display: flex;
    border: 2px solid black;
    color: aqua;
    background-color: antiquewhite;
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
    background-color: white;
    color: aqua;
    border: 2px solid black;
}
aside {
    flex: 1;
    overflow-y: auto;
}

